<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cards</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-card *ngFor="let film of films">
      <img src="{{film.fullPortrait}}" />
      <ion-card-header>
        <ion-card-title>{{ film.displayName }}</ion-card-title>
        <ion-card-subtitle>{{ film.role }}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        {{ film.description }}
      </ion-card-content>
    </ion-card>


  </div>
</ion-content>